{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bibliotech</title>
        <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    </head>
    <body>
        <header class="cabecalho">
            <h1>Bibliotech</h1>
            <div class="logo">
                <img src="{% static '/assets/icons/logo.png' %}" alt="Bibliotech">
            </div>
        </header>
        <div class="animacao-digitacao">
            <p>Seja bem-vindo à Bibliotech, a sua biblioteca tecnológica.</p>
            <br>
        </div>
        <main class="conteudo">
            <section class="landing-page">
                <img src="{% static '/assets/images/reading-kid.jpg' %}" alt="Livro">
                <h2>“Meus filhos terão computadores, sim, mas antes terão livros.<br>
                    Sem livros, sem leitura, nossos filhos serão incapazes de escrever<br>
                    inclusive a própria história”.</h2>
                <h3>                                   — Bill Gates</h3>

                <img src="{% static '/assets/images/reading.jpeg' %}" alt="Livro">
                <h2>“Não há problema que a leitura não possa solucionar”.</h2>
                <h3>                                   — Charles Bukowski</h3>

                <img src="{% static '/assets/images/reading-2.jpg' %}" alt="Livro">
                <h2>“Um livro é um sonho que você segura na mão”</h2>
                <h3>                                   — Neil Gaiman</h3>

                <img src="{% static '/assets/images/reading-3.jpg' %}" alt="Livro">
                <h2>“A leitura é o caminho mais curto para o conhecimento”</h2>
                <h3>                                   — Aristóteles</h3>

            </section>
        </main>
        <footer class="rodape">
            <div class="redes-sociais">
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="{% static '/assets/icons/facebook.png' %}" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="{% static '/assets/icons/instagram.png' %}" alt="Instagram">
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <img src="{% static '/assets/icons/x.png' %}" alt="Twitter">
                </a>
            </div>
    </body>
</html>