{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bibliotech</title>
        <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    </head>
    <body>
        <header class="cabecalho">
            <h1>Bibliotech</h1>
            <div class="logo">
                <img src="{% static '/assets/icons/logo.png' %}" alt="Bibliotech">
            </div>
        </header>
        <div class="animacao-digitacao">
            <p>Seja bem-vindo à Bibliotech, a sua biblioteca tecnológica.</p>
        </div>
        <nav>
            <ul>
                <li>Livros</li>
                <li></li>
            </ul>
    </body>
</html>